.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("./images/azHarbourBridgepng.png") left 50% top 0px / contain repeat-y
      padding-box border-box scroll,
    #060829;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 180px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    padding: 30px 12px;
  }
}
.img__ab4Ic {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  margin-bottom: 0px;
  height: 665px;
  align-self: center;
  margin-top: 196px;
  flex-shrink: 0;
}
.img__ab4Ic > picture > img {
  object-fit: contain;
}
.img__ab4Ic > .__wab_img-spacer > img {
  object-fit: contain;
}
.triangle:global(.__wab_instance) {
  position: relative;
}
.companiesSection {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 128px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .companiesSection {
    padding: 80px 20px;
  }
}
.container2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-uS9NrJFyRHuqWm);
  padding: var(--token-0gAp3qf1lz7uNu);
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 35px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  color: var(--token-CH49tlJwXWZ3hL);
  min-width: 0;
}
.freeBox___4Hayf {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4Hayf {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ycGip {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: none;
}
.freeBox__ycGip > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ycGip > :global(.__wab_flex-container) > *,
.freeBox__ycGip > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycGip > :global(.__wab_flex-container) > picture > img,
.freeBox__ycGip
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__faU7H {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__faU7H > picture > img {
  object-fit: cover;
}
.img__faU7H > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fjh8N {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fjh8N > picture > img {
  object-fit: cover;
}
.img__fjh8N > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nGvoU {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nGvoU > picture > img {
  object-fit: cover;
}
.img__nGvoU > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___0DcrR {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___0DcrR > picture > img {
  object-fit: cover;
}
.img___0DcrR > .__wab_img-spacer > img {
  object-fit: cover;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
  display: none;
}
.footer:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  display: flex;
}
