.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("./images/baerMainjpg.jpeg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-WWBXYTGMjk8h79);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("./images/woman32879561920Jpg.jpeg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    flex-column-gap: 0px;
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token-WWBXYTGMjk8h79);
  }
}
.freeBox__tudKw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-uS9NrJFyRHuqWm);
  min-width: 0;
  padding: var(--token-0gAp3qf1lz7uNu);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 60px 15px;
}
.freeBox__eu1Qn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-uS9NrJFyRHuqWm);
  min-width: 0;
  padding: var(--token-0gAp3qf1lz7uNu);
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oUaYi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__aXbkT {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBox__aXbkT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__aXbkT > :global(.__wab_flex-container) > *,
.freeBox__aXbkT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aXbkT > :global(.__wab_flex-container) > picture > img,
.freeBox__aXbkT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__o2KnL {
  text-align: center;
  margin-top: calc(0px + 12px) !important;
}
.text__q6O8K {
  text-align: left;
  max-width: 667px;
  width: 100%;
  min-width: 0;
}
.text___75Ee1 {
  text-align: left;
  max-width: 667px;
  width: 100%;
  min-width: 0;
}
.column__hz6G9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__reLaD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__reLaD > picture > img {
  object-fit: cover;
}
.img__reLaD > .__wab_img-spacer > img {
  object-fit: cover;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kAI6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tqclP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__fuJm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__s9CRf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 332px;
  margin-bottom: 163px;
}
.img__s9CRf > picture > img {
  object-fit: cover;
}
.img__s9CRf > .__wab_img-spacer > img {
  object-fit: cover;
}
.companiesSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .companiesSection {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 80px 20px;
  }
}
.container2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-uS9NrJFyRHuqWm);
  padding: var(--token-0gAp3qf1lz7uNu);
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2__w1OHy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 35px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  color: var(--token-CH49tlJwXWZ3hL);
  min-width: 0;
}
.freeBox__w3OYy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__w3OYy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__ju6Fw {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: none;
}
.freeBox__ju6Fw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ju6Fw > :global(.__wab_flex-container) > *,
.freeBox__ju6Fw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ju6Fw > :global(.__wab_flex-container) > picture > img,
.freeBox__ju6Fw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ju6Fw {
    display: flex;
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ju6Fw > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ju6Fw > :global(.__wab_flex-container) > *,
  .freeBox__ju6Fw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ju6Fw > :global(.__wab_flex-container) > picture > img,
  .freeBox__ju6Fw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 32px;
  }
}
.img__aUQm {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aUQm > picture > img {
  object-fit: cover;
}
.img__aUQm > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__qi6Zu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__qi6Zu > picture > img {
  object-fit: cover;
}
.img__qi6Zu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fMLjk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fMLjk > picture > img {
  object-fit: cover;
}
.img__fMLjk > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__w6YfT {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__w6YfT > picture > img {
  object-fit: cover;
}
.img__w6YfT > .__wab_img-spacer > img {
  object-fit: cover;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
