.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__j0Xfv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  box-shadow: 0px 10px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.freeBox__lcJzg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.freeBox__mAxSm {
  flex-direction: row;
  background: #ffffff61;
  display: flex;
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 16px;
}
.freeBox__mAxSm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mAxSm > :global(.__wab_flex-container) > *,
.freeBox__mAxSm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mAxSm > :global(.__wab_flex-container) > picture > img,
.freeBox__mAxSm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mAxSm {
    padding: 32px;
  }
}
.freeBox__rIa4H {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 0;
}
.freeBox__rIa4H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rIa4H > :global(.__wab_flex-container) > *,
.freeBox__rIa4H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rIa4H > :global(.__wab_flex-container) > picture > img,
.freeBox__rIa4H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rIa4H {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rIa4H > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rIa4H > :global(.__wab_flex-container) > *,
  .freeBox__rIa4H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rIa4H > :global(.__wab_flex-container) > picture > img,
  .freeBox__rIa4H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link__lJwbK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___1Qfdn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 169px;
  height: 36px;
  flex-shrink: 0;
}
.freeBox___3R4PZ {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___3R4PZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___3R4PZ > :global(.__wab_flex-container) > *,
.freeBox___3R4PZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3R4PZ > :global(.__wab_flex-container) > picture > img,
.freeBox___3R4PZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___3R4PZ > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___3R4PZ > :global(.__wab_flex-container) > *,
  .freeBox___3R4PZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3R4PZ > :global(.__wab_flex-container) > picture > img,
  .freeBox___3R4PZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__g7A46 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__g7A46 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__g7A46 > :global(.__wab_flex-container) > *,
.link__g7A46 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__g7A46 > :global(.__wab_flex-container) > picture > img,
.link__g7A46
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__sec8C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__umc5L {
  font-size: 18px;
  font-weight: 400;
  color: #535353;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__t3G92 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yBHmo {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__yBHmo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yBHmo > :global(.__wab_flex-container) > *,
.link__yBHmo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yBHmo > :global(.__wab_flex-container) > picture > img,
.link__yBHmo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___1Mumc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__aaLTm {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___1QRnp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__soh68 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__soh68 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__soh68 > :global(.__wab_flex-container) > *,
.link__soh68 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__soh68 > :global(.__wab_flex-container) > picture > img,
.link__soh68
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__kxv7U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___5U0Nh {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__oYprr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__igJj2 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__igJj2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__igJj2 > :global(.__wab_flex-container) > *,
.link__igJj2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__igJj2 > :global(.__wab_flex-container) > picture > img,
.link__igJj2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__r384O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hHsao {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__crCoj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__sn9Bh {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__sn9Bh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__sn9Bh > :global(.__wab_flex-container) > *,
.link__sn9Bh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__sn9Bh > :global(.__wab_flex-container) > picture > img,
.link__sn9Bh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wjzrR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__eRGkF {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__eCnr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jEpfU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fy0Lg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7HlcD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0091ff;
  min-width: 0;
  padding: 0px;
}
.freeBox__aYx6F {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aYx6F {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns__x5QBs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__x5QBs > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns__x5QBs > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__x5QBs > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__x5QBs > :global(.__wab_flex-container) > *,
.columns__x5QBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__x5QBs > :global(.__wab_flex-container) > picture > img,
.columns__x5QBs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__x5QBs {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__x5QBs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__x5QBs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__x5QBs > :global(.__wab_flex-container) > *,
  .columns__x5QBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__x5QBs > :global(.__wab_flex-container) > picture > img,
  .columns__x5QBs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.column__pNa2M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__njR3I {
  flex-direction: column;
  display: flex;
  position: absolute;
  background: #0f22229c;
  width: 100%;
  height: auto;
  margin-right: -373px;
  left: 187px;
  top: 98px;
  z-index: 111;
  min-width: 0;
  padding: 30px;
  border-left: 8px solid #f4efeb;
}
.freeBox__njR3I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__njR3I > :global(.__wab_flex-container) > *,
.freeBox__njR3I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__njR3I > :global(.__wab_flex-container) > picture > img,
.freeBox__njR3I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__njR3I {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    background: #0f22229c;
    width: 100%;
    height: auto;
    z-index: 111;
    min-width: 0;
    padding: 30px;
    margin: 0px;
    border-left: 8px solid #f4efeb;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__njR3I > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__njR3I > :global(.__wab_flex-container) > *,
  .freeBox__njR3I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__njR3I > :global(.__wab_flex-container) > picture > img,
  .freeBox__njR3I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 16px) !important;
}
.text___8TI5 {
  margin-top: calc(0px + 16px) !important;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__hgHg5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__cB2IJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cB2IJ > picture > img {
  object-fit: cover;
}
.img__cB2IJ > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cB2IJ {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cB2IJ > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cB2IJ > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    margin-top: calc(0px + 0px) !important;
    padding: 3em 15px 1.5em;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: #ffffff;
  padding: 30px;
}
.freeBox__u3FkU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__u3FkU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__u3FkU > :global(.__wab_flex-container) > *,
.freeBox__u3FkU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u3FkU > :global(.__wab_flex-container) > picture > img,
.freeBox__u3FkU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__gZZo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__gZZo {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
  }
}
.text__ktCiY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ktCiY {
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__g2TzF {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__g2TzF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__g2TzF > :global(.__wab_flex-container) > *,
.freeBox__g2TzF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g2TzF > :global(.__wab_flex-container) > picture > img,
.freeBox__g2TzF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__yli2O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__yli2O {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
  }
}
.text__qIhds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__qIhds {
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__dTgC1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__dTgC1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__dTgC1 > :global(.__wab_flex-container) > *,
.freeBox__dTgC1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dTgC1 > :global(.__wab_flex-container) > picture > img,
.freeBox__dTgC1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__eyTop {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__eyTop {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
  }
}
.text__ybioG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ybioG {
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__lFcJv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__lFcJv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__lFcJv > :global(.__wab_flex-container) > *,
.freeBox__lFcJv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lFcJv > :global(.__wab_flex-container) > picture > img,
.freeBox__lFcJv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__qvIf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__qvIf {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
  }
}
.text__xi8Wd {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xi8Wd {
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__r10Re {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__okXrD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__okXrD > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__okXrD > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__okXrD > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__okXrD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__okXrD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__iDnGa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__iDnGa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column__iDnGa > :global(.__wab_flex-container) > *,
.column__iDnGa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__iDnGa > :global(.__wab_flex-container) > picture > img,
.column__iDnGa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg__nig57 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text__gnQAv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__gnQAv {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column__qRoHy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: #ffffff;
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__qRoHy {
    padding: 0px 8px;
  }
}
.h5__v3I5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__v3I5A {
    margin: 0px 0px 15px;
  }
}
.link__rMeC3 {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  align-self: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0.75em;
}
.link__gM69D {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  align-self: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0.75em;
}
.link__gySJf {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  align-self: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0.75em;
}
.link__hDc7K {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  align-self: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__hDc7K {
    margin: 0px 0px 1.5em;
  }
}
.link___9Kyso {
  position: relative;
  color: #ffffff;
  align-self: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0.75em;
}
.column__rLkm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: #ffffff;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__rLkm2 {
    padding: 0px 8px;
  }
}
.h5__zEx1T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__zEx1T {
    margin: 0px 0px 15px;
  }
}
.columns___71Mp3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: #ffffff;
  min-width: 0;
  border-style: solid;
}
.columns___71Mp3 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___71Mp3 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___71Mp3 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___71Mp3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___71Mp3 > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___71Mp3 > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___71Mp3 > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__oqdzg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___8OHM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8OHM > picture > img {
  object-fit: cover;
}
.img___8OHM > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__kB0H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___4TVwK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___4TVwK > picture > img {
  object-fit: cover;
}
.img___4TVwK > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__qlmmb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__o6QfB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__o6QfB > picture > img {
  object-fit: cover;
}
.img__o6QfB > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__q8Rr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: #ffffff;
  min-width: 0;
  border-style: solid;
}
.columns__q8Rr > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__q8Rr > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__q8Rr > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__q8Rr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__q8Rr > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__q8Rr > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__q8Rr > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column___9SAzA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6LwTp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___6LwTp > picture > img {
  object-fit: cover;
}
.img___6LwTp > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__oYyC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rVhFy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rVhFy > picture > img {
  object-fit: cover;
}
.img__rVhFy > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___3Cd1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__f1Hs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__f1Hs > picture > img {
  object-fit: cover;
}
.img__f1Hs > .__wab_img-spacer > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text__bOos3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 1em 0px 0px;
}
.link__kZxvm {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #3291ff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
